<div class="row text-success">
        <div class="col-2 bg-dark" [routerLink]="['/login']">login</div>
    <div class="col-2 " [routerLink]="['/signup']">signup</div>
    
    <div class="col-2 bg-dark" [routerLink]="['/DashboardComponent']">dashboard</div>
    <div class="col-2" [routerLink]="['/ExpensiveComponent']">ExpensiveComponent</div>
    <div class="col-2 bg-dark" [routerLink]="['/ExpensivelistComponent']">ExpensivelistComponent</div>
    <div class="col-2" [routerLink]="['/IncomeComponent']">IncomeComponent</div>
    <div class="col-2" [routerLink]="['/IncomelistComponent']">IncomelistComponent</div>
    <div class="col-2 bg-dark" [routerLink]="['/NewcatagoryComponent']">NewcatagoryComponent</div>
    <div class="col-2 " [routerLink]="['/NewcatagorylistComponent']">NewcatagorylistComponent</div>
    <div class="col-2 bg-dark" [routerLink]="['/ReportComponent']">ReportComponent</div>
    <div class="col-2" [routerLink]="['/ReportlistComponent']">ReportlistComponent</div>
    <div class="col-2 bg-dark" [routerLink]="['/EmptyComponent']">EmptyComponent</div>
</div><hr>
<router-outlet></router-outlet>