<div class="container">
        <form class="form" #registerForm="ngForm" (ngSubmit)="registerForm.valid && submit()" novalidate>

    <h1 class="text-center">New Expense</h1>
    <div class="form-group col-6 offset-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" #name="ngModel" required [(ngModel)]="expenseobj.name" id="name" placeholder="name">
        <span class="text-danger" *ngIf="(name.touched || registerForm.submitted) && name.errors?.required">
                required
            </span>
    </div>
    <div class="form-group col-6 offset-3">
        <label for="categery">Categery</label>
        <select type="text" class="form-control" name="categery" #categery="ngModel" required [(ngModel)]="expenseobj.categery" placeholder="choose" id="categery">
            <option value="">choose..</option>
            <option>Tea</option>
            <option>Internet</option>
            <option>EB</option>
            <option>Rent</option>
            <option>Salery</option>
            <option>Others</option>
            
        </select>
        <span class="text-danger" *ngIf="(categery.touched || registerForm.submitted) && categery.errors?.required">
                required
            </span>

    </div>
    <div class="form-group col-6 offset-3">
        <label for="date">Date</label>
        <input type="date" [(ngModel)]="expenseobj.date" name="date" #date="ngModel" required class="form-control" id="date" placeholder="date">
        <span class="text-danger" *ngIf="(date.touched || registerForm.submitted) && date.errors?.required">
                required
            </span>

    </div>
    <div class="form-group col-6 offset-3">
        <label for="amount">Amount</label>
        <input type="number" [(ngModel)]="expenseobj.amount" #amount="ngModel" required name="amount" class="form-control" id="amount" placeholder="amount">
        <span class="text-danger" *ngIf="(amount.touched || registerForm.submitted) && amount.errors?.required">
                required
            </span>

    </div>
    <div class="offset-7">
        <button type="submit" class="btn btn-primary"  >Submit</button>
        <button type="reset" class="btn btn-success ml-3">Reset</button>
    </div>
        </form>
</div>